/*
通用的列表、增删改管理页面的CSS。
*/
body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
/*主要区域的布局设定*/
.div-toolbar,.div-datagrid,.div-pagetitle{
    margin: 15px 0px 0px 15px;
}
/* *******************************************************
   *                       FORM                          *
   *******************************************************/
.ur-form{
    
}
.in-dialog{
    margin-top: 5px;
    margin-left: 5px;
}
.in-dialog input{
    margin-bottom:3px;
}
/* *******************************************************
   *                    EXTJS GRID                       *
   *******************************************************/
.ur-grid-cell-link{
    color: darkorchid;
}
.ur-grid-cell-link div{
    cursor: pointer;
    
}