body {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, Arial, sans-serif;
    margin: 0; /* 不知道为何在Chrome会有个边距。默认都去掉。 */
}

/* 高度100%铺满页面，里面的元素如果需要用到整个页面的高度，才可以有。否则高度会跟随内容而变。 */
body, html {
    height: 100%;
}

.gaea-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gaea-sys-content {
    /* 高度100%铺满页面，里面的元素如果需要用到整个页面的高度，才可以有。否则高度会跟随内容而变。 */
    height: 100%;
}

/*左边基础区域定义*/
.main-left {
    position: relative;
    float: left;
    height: 100%;
    min-width: 260px;
    background-color: #222222;
    opacity: 0.9;
}

/* 菜单上面，系统名、用户信息区域的定义 */
.main-left .head {
    width: 100%;
    height: 100px;
    position: relative;
}

/* 系统名称 */
.main-left .head .system-title {
    display: block;
    width: 100%;
    height: 80%;
}

/*用户信息区*/
.main-left .head .user-info {
    display: block;
    width: 96%;
    font-size: 13px;
}

.main-left .head .user-info > div:hover {
    border-color: white;
}

.main-left .head .user-info > div {
    display: block;
    float: right;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #222222;
}

.main-left .head .user-info a {
    color: white;
    text-decoration: none;
}

/*右边区域定义*/
.main-right {
    /*clear: both;*/
    height: 100%;
    margin-left: 260px; /* 为左边菜单留出的空间 */
    min-width: 980px;
    min-height: 700px;
}

/* ********************************************        菜单的样式        ******************************************** */
.menu {
    display: block;
    position: relative;
    color: white;
    cursor: pointer;
    /*font-size: 14px;*/
}

/*二级菜单*/
.menu.lv2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 1px; /* 字间距 */
}

/*三级菜单*/
.menu.lv3 {
    /*margin-left: 50px;*/
    padding-left: 20px;
    height: 35px;
    line-height: 35px; /* 字体垂直居中 */
    /*padding-top: 10px;*/
    letter-spacing: 0.5px; /* 字间距 */
    font-size: 16px;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0s;
    /*-webkit-transition: all 0.4s;*/
    /*-moz-transition: all 0.4s;*/
    /*-ms-transition: all 0.4s;*/
    /*-o-transition: all 0.4s;*/
    /*transition: all 0.4s;*/
}

.menu.lv3:hover {
    background-color: #6B6B6B;
}

.menu.lv3.open {
    opacity: 1;
    transform: translateX(0);
}

.menu.lv3.selected {
    background-color: #0e90d2;
    box-shadow: inset 0 -2px 2px #000;
}

.menu-container.lv2 {
    /*display: none;*/
    height: 0;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
    /*visibility: hidden;*/
}

.menu-container.lv2.hidden {
    visibility: hidden;
}


