<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--导入schema提供的js和css-->
    <!UR_VIEW_SCHEMA IMPORT_HEADFIRST>
    <script src="/js/require.js"></script>
    <script>
        var viewSchema = {};
        // 导入schema提供的数据。
        viewSchema.initData = <!UR_VIEW_SCHEMA VIEWS_GRID_JSON_DATA>;
    </script>
    <!--JQuery插件和JQuery UI-->
    <link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css">
    <link rel="stylesheet" href="/css/gaea/gaea-jquery-ui-1.10.4.custom.css">
    <!--第三方：DateJs-->
    <script type="text/javascript" src="/js/thirdparty/datejs/core.js"></script>
    <script type="text/javascript" src="/js/thirdparty/datejs/zh-CN.js"></script>
    <!-- <script type="text/javascript" src="src/time.js"></script> -->
    <script type="text/javascript" src="/js/thirdparty/datejs/parser.js"></script>
    <script type="text/javascript" src="/js/thirdparty/datejs/extras.js"></script>
    <!--默认table、字体等的css-->
    <link href="/js/gaeajs/ui/css/gaea-ui-views.css" rel="stylesheet" type="text/css"/>
    <link href="/js/gaeajs/ui/css/gaea-ui-grid.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fontawesome/css/font-awesome.css" rel="stylesheet"><!-- font-awesome字体 -->
    <link href="/css/iconfont/iconfont.css" rel="stylesheet"><!-- iconfont字体 -->
    <!--按钮样式和效果。 -->
    <link href="/js/gaeajs/ui/css/gaea-ui-buttons.css" rel="stylesheet" type="text/css"/>
    <link href="/js/gaeajs/ui/css/gaea-ui-checkbox.css" rel="stylesheet" type="text/css"/>
    <link href="/js/gaeajs/ui/css/gaea-ui-query.css" rel="stylesheet" type="text/css"/><!-- 查询组件样式 -->
    <!-- 上传组件 -->
    <link rel="stylesheet" href="/js/thirdparty/upload/webuploader.css">
    <!-- 时间日期组件 -->
    <link rel="stylesheet" href="/js/thirdparty/jquery/plugins/datetimepicker/gaea-jquery.datetimepicker.css">
    <!-- 滚动条组件 -->
    <link rel="stylesheet" href="/js/thirdparty/mCustomScrollbar/jquery.mCustomScrollbar.css">
    <!-- select2组件 -->
    <link rel="stylesheet" href="/js/thirdparty/jquery/plugins/select2/css/select2.min.css">
    <link href="/js/gaeajs/ui/css/gaea-ui-select2.css" rel="stylesheet" type="text/css"/><!-- select2的样式重写 -->
    <!-- lightGallery图片查看组件 -->
    <link rel="stylesheet" href="/js/thirdparty/jquery/plugins/lightgallery/css/lightgallery.css">
    <!-- loading效果 -->
    <!--<link rel="stylesheet" href="/css/commons/loading-style.css">-->
    <!--导入Schema提供的js和css-->
    <!UR_VIEW_SCHEMA IMPORT_HEADLAST>
    <!--下面的这两个js为了配合整个列表页框架的运作，所以放在最后。非列表页框架性的东西不要放在这里。-->
    <script src="/js/gaeajs/ui/template/gaea-grid.js" type="text/javascript"></script>
    <!UR_VIEW_SCHEMA IMPORT_CSS_HEADLAST>
    <!-- 下面的两个CSS覆盖上面的CSS，特别是一些针对第三方组件的css的hack -->
    <link href="/js/gaeajs/ui/css/gaea-ui-form.css" rel="stylesheet" type="text/css"/><!--通用表单样式-->
    <link href="/js/gaeajs/ui/css/gaea-ui.css" rel="stylesheet" type="text/css"/><!--gaea ui组件样式（复选框、tabs、loading等）-->
</head>
<body>
<div data-gaea-ui-view="" class="gaea-ui-page"><!-- id是js动态填充 -->
    <div id="view-title" class="view title"></div>
    <div id='gaea-toolbar' class='gaea-toolbar'></div>
    <div id="gaea-grid-ct"></div>
    <!--<div id="workflow-approval-dialog" style="display: none">-->
    <!--<input type="hidden" id="wfProcInstId" name="wfProcInstId" value="">-->
    <!--<input type="hidden" id="wfActName" name="wfActName" value="">-->
    <!--<span><label>审批意见</label><textarea id="wfApprovalReason" name="wfApprovalReason" ></textarea></span>-->
    <!--</div>-->
    <!--<div id="createOrEditDialog"></div>-->
    <!--<div id="uploaderDialog">-->
    <!--<div id="thelist" class="uploader-list"></div>-->
    <!--<div id="filePicker"></div>-->
    <!--</div>-->

    <div id="gaea-dialog-area"><!-- 一般弹出框DOM的放置区域 --></div>
    <span id="gaea-context-ct" style="display: none;">Gaea上下文事件的绑定对象(不显示)</span>
    <!--<span id="gaea-event-ct" style="display: none;">Gaea事件的绑定对象(不显示)</span>-->
    <input type="hidden" id="urSchemaId" name="urSchemaId" value="">
    <input type="hidden" id="gaeaViewId" name="gaeaViewId" value=""><!-- 这个是gaea view组件的id，当前这个页面的id -->
</div>
<!UR_VIEW_SCHEMA IMPORT_BODYEND>
</body>
</html>