/*重写覆盖macula默认的样式。因为会影响到当前的样式。*/
.finder-action-items a {
    /*background: red; !* 这个影响按钮的背景 *!*/
    float: none; /* 这个会影响toolbar和tb-head-title重叠 */
    height: auto;
}

/* ALL ------>> 所有的按钮class都必须加上"a."，否则会受macula样式影响。*/
.gaea-ui-page a.button,
a.gaea-ui-button,
.gaea-button-group .title {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    overflow: visible;
    padding: 5px 15px 6px;
    position: relative;
    /*字体*/
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 13px;
    /*font-weight: bold;*/
    /*text-shadow: 1px 1px 0 #FFFFFF;*/
    width: auto;
    /*边框*/
    /*background: #222 url(alert-overlay.png) repeat-x;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    /*border:1px solid;*/
    /*border-color: #F2F2F2;*/
    /*阴影*/
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    /*box-shadow: 3px 3px 5px #E4E4E4,-1px 3px 5px #E4E4E4;*/
    /*圆角矩形*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.gaea-ui-page a.button:hover,
a.gaea-ui-button:hover {
    /*background-color: #111;*/
    color: white;
}

.gaea-ui-page a.button:active,
a.gaea-ui-button:active {
    top: 1px;
}

/*按钮大小效果*/
.gaea-ui-page a.large.button,
a.large.gaea-ui-button {
    /*每个按钮之间留出间隔，比较简单粗暴的方式。*/
    margin-right: 15px;
    font-size: 20px;
    padding: 8px 19px 9px;
}

.gaea-ui-page a.medium.button,
a.medium.gaea-ui-button {
    /*每个按钮之间留出间隔，比较简单粗暴的方式。*/
    margin-right: 10px;
    font-size: 14px;
    padding: 6px 15px 7px;
}

/*小按钮效果.不作为主按钮效果使用.*/
.gaea-ui-page a.small.button,
a.small.gaea-ui-button {
    font-size: 10px;
    padding: 4px 10px 5px;
}

/** ****************************************************
 *          一套新的按钮,更多针对图形按钮.
 *
 *  主要是原来的按钮更多是方形的,例如弹框的按钮等.
 *  但现在需要一些图形按钮,例如:multiselect的选择按钮,就不能用原来的样式了.
 *  by Iverson 2016-8-9 17:37:24
 *  ****************************************************/

/*这个是图标的集合区。例如：一个table最后的一个td。（里面放操作按钮。）*/
.gaea-icon-set {
    position: relative;
    min-width: 30px;
}

.gaea-icon {
    cursor: pointer;
}

/**
 * 鼠标移过的效果，背景。
 * 两种按钮：一种是用span+.gaea-button-bg定义（背景需要单独一个span），还有一个是直接通过:after生成背景效果。
 */
.gaea-button-bg, .gaea-float-icon:after {
    border-radius: 50%;
    left: 0px;
    opacity: 0; /* 默认为透明，看不到. */
    top: 0px;
    transform: scale(0); /* 收缩为0.看不到. */
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: rgb(0, 151, 167);
}

/*通过span定义的按钮的背景*/
.gaea-button-bg {
    width: 30px;
    height: 30px;
    position: absolute;
}

/*通过:after生成的按钮效果*/
.gaea-float-icon {
    float: left;
}

/*尺寸定义*/
.gaea-float-icon.size-m {
    width: 30px;
    line-height: 30px;
}

/* 已选中的页码。深色底白字。 */
.gaea-float-icon.selected {
    /*width:30px;*/
    float: left;
    border-color: #2D3E50;
    background-color: #2D3E50;
    color: white;
    /*padding: 4px;*/
    /*line-height: 30px;*/
    /*是个圆形*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/*选中的页码，去掉移上去的效果*/
.gaea-float-icon.selected:after {
    background: none;
    transition: none;
    transform: none;
    color: inherit;
}

/*选中的尺寸。这里得重新一下height，否则会叠加了hover效果的高度*/
.gaea-float-icon.selected.size-m {
    height: 30px;
}

/*移上去变色的按钮*/
.gaea-float-icon:after {
    content: '';
    position: relative;
    display: block;
}

.gaea-float-icon.size-m:after {
    width: 30px;
    height: 30px;
    top: -30px;
}

/* 鼠标经过的效果，变半透明，并且圆从小变大。注意是移过gaea-icon元素的时候，修改gaea-button-bg的样式... */
.gaea-icon:hover .gaea-button-bg, .gaea-float-icon:hover:after {
    opacity: 0.6;
    transform: scale(1);
}

.gaea-float-icon:not(.selected):hover {
    color: #06200A;
}

/**
 * 通用的图标大小定义。主要针对iconfont。
 */
.gaea-button-size.m {
    font-size: 19px;
    margin-left: 4px; /* 这个是配合font-size和gaea-button-bg的背景，确保两者都居中. */
}

/** ****************************************************
 *                  各种按钮颜色效果
 *  ****************************************************/

/*灰色效果*/
.gaea-ui-page a.grey.button {
    color: black;
    background-color: #E4E4E4;
}

.gaea-ui-page a.grey.button:hover {
    color: white;
    background-color: #919191;
    /* 按钮渐变 */
    transition-property: background color;
    transition-duration: .3s;
    /* 垮浏览器兼容参数 */
    -webkit-transition-property: background color;
    -webkit-transition-duration: .3s;
    -moz-transition-property: background color;
    -moz-transition-duration: .3s;
    -o-transition-property: background color;
    -o-transition-duration: .3s;
    -ms-transition-property: background color;
    -ms-transition-duration: .3s;
}

/*深蓝灰色效果*/
.gaea-ui-page a.darkslategrey.button,
.gaea-button-group .title,
.gaea-button-group .detail,
a.darkslategrey.gaea-ui-button {
    background-color: #5D6D7D;
    /*background-image: radial-gradient(hsla(0, 0%, 92%, 1),hsla(0, 0%, 86%, 1));*/
}

.gaea-ui-page a.darkslategrey.button:hover,
a.darkslategrey.gaea-ui-button:hover {
    /*background-image: radial-gradient(hsla(0, 0%, 92%, 1),hsla(0, 0%, 82%, 1));*/
    background-color: #2D3E50;
    /* 按钮渐变 */
    transition-property: background color;
    transition-duration: .3s;
    /* 垮浏览器兼容参数 */
    -webkit-transition-property: background color;
    -webkit-transition-duration: .3s;
    -moz-transition-property: background color;
    -moz-transition-duration: .3s;
    -o-transition-property: background color;
    -o-transition-duration: .3s;
    -ms-transition-property: background color;
    -ms-transition-duration: .3s;
}

/**
 *  ****************************************************
 *                        按钮组
 *  ****************************************************
 */
/*整个按钮组区域*/
.gaea-button-group {
    position: absolute;
    font-size: 13px;
    color: white; /* 按钮字体颜色 */
    z-index: 1; /* 因为对于列表页，toolbar在grid上面，所以按钮组的列表应该盖住grid。但如果在其他页面toolbar就不一定这样了。*/
}

/*按钮组里面的按钮.初始是隐藏的.*/
.gaea-button-group .detail ul li {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 150ms ease-in;
    -moz-transition: height 150ms ease-in;
    -o-transition: height 150ms ease-in;
    transition: height 150ms ease-in;
}

.gaea-button-group .detail > ul {
    /*宽度和title一致。*/
    width: 100%;
    position: absolute;
    left: 0;
    top: 26px;
    z-index: 1;
    background-color: #5D6D7D;
    padding: 0px;
    margin: 0;
    border-radius: 1px;
    box-shadow: 0px 0px 3px #000;
}

/*移动到按钮组的时候,展开按钮.*/
.gaea-button-group:hover > .detail ul li {
    height: 30px;
    line-height: 30px;
}

/* 按钮组title的下拉图标( awesomeFont字体 ) */
.gaea-button-group .title i.fa {
    margin-left: 5px;
}

/* 按钮组的按钮 */
.gaea-button-group .detail ul li {
    list-style-type: none;
    overflow: hidden;
    height: 0px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

/*按钮组的按钮的hover颜色。和一般按钮不同。分开定义。*/
.gaea-button-group .title:hover,
.gaea-button-group .detail li:hover {
    /*background-image: radial-gradient(hsla(0, 0%, 92%, 1),hsla(0, 0%, 82%, 1));*/
    background-color: #5C95CE;
    /* 按钮渐变 */
    transition-property: background color;
    transition-duration: .3s;
    /* 垮浏览器兼容参数 */
    -webkit-transition-property: background color;
    -webkit-transition-duration: .3s;
    -moz-transition-property: background color;
    -moz-transition-duration: .3s;
    -o-transition-property: background color;
    -o-transition-duration: .3s;
    -ms-transition-property: background color;
    -ms-transition-duration: .3s;
}






