/**
 * 表格的各种CSS定义。包括列头、高级搜索、数据行的各种效果、分页等。
 */

/* ******************************************** >>> >> > GRID < << <<< ******************************************** */

/* 列头的容器 */
/*.hd-div{*/
.tb-head {
    position: relative;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    /*表格列头字体为白色。*/
    color: white;
}

/* --------------- >>>> 列表内容部分 <<<< --------------- */
/* grid的数据部分的容器 */
.gaea-grid-body {
    margin-top: 3px;
    font-size: 14px;
}

/* 表格 */
.tb-body {
    width: 100%;     /* 解决样式受macula样式影响撑大的问题。 */
    table-layout: fixed;
    border-style: none;
    border-collapse: collapse;
    /*border-width: 1px 0 0;*/
}
/*行*/
.tb-body tr:hover{
    background-color: #CCD7E3;
    /*opacity: 0.5;*/
}
.tb-body tr.selected{
    border-bottom:1px solid #2D3E50;
}
/* 列头 */
.column-header {
    float: left;
    height: 100%;
    background-color: #2D3E50;
    border-style: solid;
    border-collapse: collapse;
    /* 列头上、下留下白色边框 */
    border-width: 1px 0 2px 0;
    border-color: white;
    /*文字水平居中*/
    text-align: center;
    /*文字垂直居中。line-height和div高度一致即可。*/
    line-height: 40px;
}
/*列头最后一列。空列。填充满行的剩余部分。*/
.column-header.last{
    float: none;
    /*下面两个解决最后一列铺满的问题*/
    width: auto;
    overflow: hidden;
}

/* 列头的字体左右边距（高级查询也保持一致） */
/*.column-header p, .head-query-column {*/
/*margin: 0;*/
/*padding: 0 5px;*/
/*/!* 高度用来撑开非字段列的样式 *!/*/
/*height: 30px;*/
/*}*/

/*列头下方的边线效果*/
/*.column-header::after,.column-header.last::after {*/
/*content: '';*/
/*/!*position: absolute;*!/*/
/*display: block;*/
/*width: 100%;*/
/*height: 2px;*/
/*background-color: #EDEDED;*/
/*border-style: solid;*/
/*border-width: 0 0 1px;*/
/*border-bottom-color: #D8D8D8;*/
/*}*/
/*行前复选框*/
.tb-head .select-all{
    width: 35px;
}

/* 内容单元格 */

.grid-td {
    padding: 0px;
}

/*单元格内的DIV。td控制格式有很多不便，改为用div控制。*/
.grid-td-div {
    /*控制块内文字不换行，不超出。*/
    overflow: hidden;
    height: 25px;
    /*超出则显示省略号……*/
    text-overflow: ellipsis;
    /*不换行*/
    white-space: nowrap;
    /*宽度包含padding*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* 各种效果 */
    padding: 1px;
}
/*行前复选框*/
.tb-body td.checkbox{
    width: 35px;
    padding: 0px;
}
.tb-body .row-check{
    position: relative;
    width: 35px;
}
/*.row-check span{*/
/*margin:auto;*/
/*top: 0; left: 0; bottom: 0; right: 0;*/
/*}*/
/* --------------- >>>> 高级查询 <<<< --------------- */
/*高级查询的容器*/
.mars-tb-head-query {
    display: none; /* 默认不显示。点击才显示。 */
    width: 100%;
    /*height: 30px;*/
    /*margin-top: 5px; /!* 保持距离，不然会重叠 *!/*/
    /*padding-left: 21px; /!* 留出复选框的距离 *!/*/
}
/*查询输入框前的占位容器。为了和列头对齐。这个宽度是写死的。怎么对齐怎么写。*/
.head-query-column.select-all {
    width: 35px;
    height: 100%;
}
.head-query-column.row-headactions {
    width: 60px;
}
/*查询条件的输入框的容器，和按钮的容器*/
.mars-headquery-actions {
    width: 100%;
    height: 30px;
}
.mars-headquery-inputs{
    position: relative;
    width: 100%;
    height: 35px;   /* 这个和( 列头高度 - padding) 一致。 */
    padding-top: 5px;   /* 解决输入框撑变形无法靠左问题。 */
    background-color: #90CAE2;
}

/*每个查询框的div*/
.head-query-column {
    float: left;
    overflow: hidden;
    /*垂直居中*/
    margin:auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
.head-query-column span{
    display: block;
    margin: 0 auto; /* 水平居中 */
    width: 90%;
}
.head-query-column input{
    height: 24px;
    border-width: 0px;  /* 不要显示边框 */
    width: 100%;    /* 不要留空。方便外面的span定位 */
}

/* --------------- >>>> 列表行的操作区，包括行前操作区，行尾操作区等 <<<< --------------- */
/*针对列头的操作区和行操作区宽度有些微不一样。*/
.tb-head .row-headactions {
    width: 70px;
}
.tb-body .row-headactions{
    width: 66px;
}
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*   分页   *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*分页块的整体定义*/
.gaea-grid-footer .pagination{
    height: 30px;
    margin-left: 5px;
}
/* 需要和整个块保持同样高度并居中的字体。单独设置 */
.gaea-grid-footer .pagination .page-numbers span,.gaea-grid-footer .pagination .page-desc{
    /*下面两个确保字体居中*/
    text-align: center;
    line-height: 30px; /* line-height设为和要居中的块一样高即可。 */
}

/*分页的1-20部分的css。放右下角*/
.gaea-grid-footer .pagination .page-desc {
    float: right;
}
.gaea-grid-footer .pagination div{
    position: relative;
    float: left;
    height: 100%;
    /*width: 20px;*/
}
/*分页单个按钮宽度。*/
.gaea-grid-footer .pagination div.button{
    width: 30px;
}
/*分页，页码块的整体宽度。 分页的固定数字部分。1 2 3 4 ... */
.gaea-grid-footer .pagination .page-numbers {
    display: block;
    float: left;
    width: 220px;
    margin-left: 10px;
}
/*分页的每个页码、按钮部分的css*/
.gaea-grid-footer .pagination .page-numbers span:not(.selected),span.icon {
    /*display: block;*/
    /*float: left;*/
    cursor: pointer;
}
/*按钮。这个以后可以抽取为通用按钮。*/
span.icon{
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: black;
    /*下面三个确保居中*/
    position: absolute;
    margin:auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
/*向左的按钮。上一页。*/
span.icon.first{
    border-width: 0 0 2px 2px;
    /*旋转的方向。指向左。*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*第一页的竖线。和上面的配合。*/
span.icon.first::after{
    content: '';
    display: block;
    /*以下都是为了竖线和箭头对其。width,left,top是相关的几个定位参数。*/
    position: absolute;
    /*width: 12px;*/
    height: 18px;
    border-style: solid;
    border-width: 0 0 0 2px;
    /*border-color: #2D3E50;*/
    left: -4px;
    top: 4px;
    /*抵消依附span的旋转方向。不跟着按钮旋转*/
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*向左的按钮。上一页。*/
span.icon.previous{
    border-width: 0 0 2px 2px;
    /*旋转的方向。指向左。*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*向右的按钮。下一页。*/
span.icon.next{
    border-width: 2px 2px 0 0;
    /*旋转的方向。指向右。*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*最后一页的按钮。 */
span.icon.last{
    border-width: 2px 2px 0 0;
    /*旋转的方向。指向右。*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*最后一页的竖线。和上面的配合。*/
span.icon.last::after{
    content: '';
    display: block;
    /*以下都是为了竖线和箭头对其。width,left,top是相关的几个定位参数。*/
    position: absolute;
    width: 12px;
    height: 18px;
    border-style: solid;
    border-width: 0 2px 0 0;
    /*border-color: #2D3E50;*/
    left: 2px;
    top: -8px;
    /*抵消依附span的旋转方向。不跟着按钮旋转*/
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*/!*分页的固定数字部分。1 2 3 4 ...*!/*/
/*.gaea-grid-footer .pagination .page-numbers {*/
    /*display: block;*/
    /*float: left;*/
/*}*/

/*固定数字的每个样式*/
.gaea-grid-footer .pagination .page-numbers span {
    display: block;
    float: left;
    width: 20px;
    margin-right: 10px;
}

.gaea-grid-footer .pagination .page-numbers span:not(.selected):hover {
    font-weight: bold;
    font-size: 16px;
}
/* 已选中的页码。深色底白字。 */
.gaea-grid-footer .pagination span.selected {
    border-color: #2D3E50;
    background-color: #2D3E50;
    color: white;
    padding: 4px;
    line-height: 20px;
    /*是个圆形*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

