/**
 * 2015年7月3日 星期五
 * Iverson
 */

.ur-mars {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

/* ******************************************** >>> >> > TOOLBAR（工具条，按钮区） < << <<< ******************************************** */
.ur-toolbar {
    position: relative;
    /*top: 36px;*/
    margin-left: 0;
    width: 100%;
    /*height: 50px;*/
    padding: 5px 0 15px; /* 和上下保持距离 */
}

/* ******************************************** >>> >> > GRID < << <<< ******************************************** */

/* 列头的容器 */
/*.hd-div{*/
.mars-tb-head {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}

/* --------------- >>>> 列表内容部分 <<<< --------------- */
/* grid的数据部分的容器 */
.bd-div {
    margin-top: 3px;
    font-size: 14px;
}

/* 表格 */
.ur-gridtable {
    width: inherit;     /* 解决样式受macula样式影响撑大的问题。 */
    table-layout: fixed;
    border-style: none;
    border-collapse: collapse;
    /*border-width: 1px 0 0;*/
}

/* 列头 */
.column-header {
    float: left;
    height: 30px;
    background-color: #EAEAEA;
    border-style: solid;
    border-collapse: collapse;
    /* 列头上、左、右留下白色边框 */
    border-width: 1px 1px 2px 0;
    border-color: white;
    /*文字水平居中*/
    text-align: center;
    /*文字垂直居中。line-height和div高度一致即可。*/
    line-height: 30px;
}

/* 列头的字体左右边距（高级查询也保持一致） */
.column-header p, .mars-headquery-column {
    margin: 0;
    padding: 0 5px;
    /* 高度用来撑开非字段列的样式 */
    height: 30px;
}

/*列头下方的边线效果*/
.column-header::after {
    content: '';
    /*position: absolute;*/
    display: block;
    width: 100%;
    height: 2px;
    background-color: #EDEDED;
    border-style: solid;
    border-width: 0 0 1px;
    border-bottom-color: #D8D8D8;
}
/*行前复选框*/
.mars-tb-head .select-all{
    width: 35px;
}

/* 内容单元格 */

.grid-td {
    padding: 2px 2px;
}

/*单元格内的DIV。td控制格式有很多不便，改为用div控制。*/
.grid-td-div {
    /*控制块内文字不换行，不超出。*/
    overflow: hidden;
    height: 25px;
    /*超出则显示省略号……*/
    text-overflow: ellipsis;
    /*不换行*/
    white-space: nowrap;
}
/*行前复选框*/
.ur-gridtable .row-check{
    position: relative;
    width: 35px;
}
/*.row-check span{*/
    /*margin:auto;*/
    /*top: 0; left: 0; bottom: 0; right: 0;*/
/*}*/
/* --------------- >>>> 高级查询 <<<< --------------- */
/*高级查询的容器*/
.mars-tb-head-query {
    display: none; /* 默认不显示。点击才显示。 */
    width: 100%;
    /*height: 30px;*/
    margin-top: 5px; /* 保持距离，不然会重叠 */
    /*padding-left: 21px; /!* 留出复选框的距离 *!/*/
}
/*查询输入框前的占位容器。为了和列头对齐。*/
.mars-headquery-column.select-all {
    width: 21px;
}
.mars-headquery-column.row-headactions {
    width: 60px;
}
/*查询条件的输入框的容器，和按钮的容器*/
.mars-headquery-inputs, .mars-headquery-actions {
    width: 100%;
    height: 30px;
}

/*每个查询框的div*/
.mars-headquery-column {
    float: left;
    overflow: hidden;
    /*background-color: #A7E2E7;*/
}

/* --------------- >>>> 列表行的操作区，包括行前操作区，行尾操作区等 <<<< --------------- */
/*针对列头的操作区和行操作区宽度有些微不一样。*/
.mars-tb-head .row-headactions {
    width: 70px;
}
.ur-gridtable .row-headactions{
    width: 66px;
}

/* ******************************************** >>> >> > TITLE < << <<< ******************************************** */
.title {
    font-weight: 500;
    font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
}

.view.title {
    font-size: 24px;
}

.ur-title {
    /*font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;*/
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    left: 0;
    top: 0;
}








