html{
    height: 100%;
}

body{
    height: 94%;
    margin: 0px;
}

#bd{
    width: 800px;
    height: 94%;
    margin: 30px auto;
    font-family: Bitter, Georgia, serif;
    font-size: 20px;
    font-weight: normal;
    /*border: 1px solid #002a80;*/
}
#content{
    height: 100%;
}
#content_iframe{
    width: 100%;
    margin-top: 20px;
    border: 0px;
    height: 100%;
/*    margin: 30px auto;
    border: 1px solid #002a80;*/
}