<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="gaeaPoiXmlConfigParser" class="org.gaea.poi.xml.GaeaPoiXmlConfigParser">
        <!--<property name="filePath" value="classpath:system_datasets_config.xml" />-->
        <constructor-arg name="filePath" value="classpath:/config/sys/gaea-poi/system_poi_config.xml"/>
    </bean>
    <bean id="systemPropertiesReader" class="org.gaea.util.GaeaPropertiesReader">
        <constructor-arg>
            <list value-type="java.lang.String">
                <value>classpath:config/sys/system.properties</value>
            </list>
        </constructor-arg>
    </bean>
    <!-- ************************************************************************************************************
                    这个是excel通用导出模板的处理类
            触发了整个系统的通用导出功能。模板从这个类的配置设定。
         ************************************************************************************************************ -->
    <bean id="gaeaExcelExportProcessor" class="org.gaea.poi.export.GaeaExcelExportProcessor">
        <constructor-arg>
            <list value-type="java.lang.String">
                <value>classpath:config/sys/excel-export/*.xml</value>
            </list>
        </constructor-arg>
    </bean>
    <!-- ************************************************************************************************************
                    公用的ObjectMapper。每次创建比较浪费资源。线程安全的。
         ************************************************************************************************************ -->
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />
</beans>
