/**
 * 2015年7月3日 星期五
 * Iverson
 */

.gaea-ui-page {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, Arial, sans-serif;
    padding: 5px 0 0 10px;
    /* padding和宽度一致 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* ******************************************** >>> >> > TOOLBAR（工具条，按钮区） < << <<< ******************************************** */
.gaea-toolbar {
    position: relative;
    /*top: 36px;*/
    margin-left: 0;
    width: 100%;
    /*height: 50px;*/
    padding: 5px 0 15px; /* 和上下保持距离 */
    height: 5%;
    box-sizing: border-box;
    display: inline; /* 解决按钮一行放不下错位问题 */
}

/* ******************************************** >>> >> > TITLE < << <<< ******************************************** */
.title {
    font-weight: 500;
    font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
}

.view.title {
    font-size: 24px;
    height: 4%;
}

.ur-title {
    /*font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;*/
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    left: 0;
    top: 0;
}

/**
 *  ********************************************************************************************************************************************************
 *                                                                  gaea dialog
 *  ********************************************************************************************************************************************************
 */
.gaea-dialog {
    height: 100%;
    /* 这个是dialog的默认宽度。包括打开后的默认宽度。 */
    width: 940px;
}





