/**
 * 各种UI组件的通用样式。只要样式内容不多，都放在一块吧。
 */

/* ******************************************************************** multi-select组件的样式 ******************************************************************** */
/**
 * multi-select组件的样式
 *
 * by Iverson 2016-7-25 10:03:16
 */

.gaea-multi-select {
    height: 200px;
}

.gaea-multi-select > div {
    float: left;

}

.gaea-multi-select ul {
    list-style-type: none; /* 不要显示点点 */
    padding-left: 0px;
    margin-top: 0;
}

/*选中的项的样式*/
.gaea-multi-select li.select {
    background-color: #70A0D0;
    font-weight: bold;
}

/*列表中的项*/
.gaea-multi-select li:hover {
    background-color: #CDD3D9;
    cursor: pointer;
}

/*两个选择列表的样式*/
.gaea-multi-select .select-list {
    min-width: 208px;
    height: 100%;
    border: solid 1px #D0D0D0;
    /*overflow: scroll;*/
    /*以下几个配合滚动条插件 mCustomScrollbar */
    overflow: auto;
    position: relative;
    padding: 10px 15px 10px 10px;
    box-sizing: border-box;

}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*   中间的命令选择区   *-*-*-*-*-*-*-*-*-*-*-*-*-* */
.gaea-multi-select .choose-cmd {
    padding: 5px 15px;
}

/* 中间的操作按钮 */
.gaea-multi-select .choose-cmd span {
    cursor: pointer;
}

.gaea-multi-select .choose-cmd span {
    display: block;
}

/* ******************************************************************** tabs组件的样式 ******************************************************************** */

/**
 *  ****************************************************
 *                  针对tab的特殊样式
 *   因为tabs会导致内容区变小。原来的宽度会太大导致页面变形。
 *  ****************************************************
 */
.ui-tabs .gaea-form input, .ui-tabs .gaea-form select, .ui-tabs .gaea-form label.error {
    width: 165px; /* input和错误提示label的宽度一致.宽度应该是总体的宽度. */
}

/* ******************************************************************** validate组件的样式 ******************************************************************** */
/* 在可编辑grid中错误的显示样式 */
.crud-grid label.error {
    float: left;
    width: 100%;
    display: inline;
    /* 自动换行 */
    white-space: normal;
}

/* ******************************************************************** dialog组件的样式 ******************************************************************** */

.gaea-common-dialog {
    display: none;
}

/* 弹出确认框的样式 */
.gaea-common-dialog .content-text {
    text-align: center;
    /*font-weight: bold;*/
}

.gaea-common-dialog .icon-ct {
    text-align: center;
    color: #ffc107;
    padding: 10px;
}

/* ******************************************************************** loading组件的样式 ******************************************************************** */

/**
 * copy from loading-style.css
 * 以下是Iverson定制的 2016-6-14 19:18:14
 */
.gaea-loading-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    /* 必须浮在JQuery Dialog上面 */
    z-index: 102;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.gaea-loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
}

.gaea-loader:before, .gaea-loader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.gaea-loader:before {
    animation: before 2s infinite;
}

.gaea-loader:after {
    animation: after 2s infinite;
}

@keyframes before {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
    100% {
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}

.gaea-loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
}