/**
 * 这个是针对jQuery select2插件的一些样式重写。
 *
 * by Iverson 2017年3月29日15:54:53
 */

/* 下拉框的下拉容器不需要边框.
 * 这个主要是兼容可编辑表格的需要。有边框在可编辑表格中很丑。
 */
.select2-dropdown {
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 6px -3px #000;
    background-color: #fff;
}

/* ******************************************************************** 在表单中的select2的样式 ******************************************************************** */
/* 选中的边框颜色，不要黑色啦 */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #D4D4D4 1px;
    outline: 0;
}

/* 下拉框的字体 */
.select2-container--default .select2-results > .select2-results__options {
    font-size: 13px;
}

/* ******************************************************************** grid快捷查询区的select2样式 ******************************************************************** */

/* 整个下拉框的容器 */
.mars-headquery-inputs .select2-container .select2-selection--single {
    overflow: hidden;
    border-radius: 0;
    font-size: 13px;
}

/* 下拉框里的内容（收起状态） */
.mars-headquery-inputs .select2-container .select2-selection--single .select2-selection__rendered {
    float: left;
    padding-right: 0;
    width: 65%;
}

/* 下拉的那个按钮 */
.mars-headquery-inputs .select2-container--default .select2-selection--single .select2-selection__arrow {
    float: left;
    position: relative;
    top: 0;
    right: 0;
    width: 16px;
}

/* ******************************************************************** 可编辑表格（crud-grid）的select2样式 ******************************************************************** */
.crud-grid .grid-td-div {

}

/* 这个宽度是必须的。select2组件会根据这个宽度，设定一个固定宽度。如果没有，select2随便设的宽度会比较难看。 */
.crud-grid .grid-td-div select {
    width: 100%;
}

/* 可编辑表格中的下拉框不需要边框等 */
.crud-grid .grid-td-div .select2-selection {
    border: none;
    /*font-size:10px;*/
}

/* 由于嵌套在可编辑表格的单元格中，边距不要太大 */
.crud-grid .grid-td-div .select2-selection__rendered {
    padding-left: 2px;
    padding-right: 10px;
}